dl#tags,
dl#segments{
  margin-left: -3px;
}

dl#metadata{
  clear: both;
  padding-top: 5px;
}

dl dt{
  float: left;
}

dl#metadata dt{
  clear: left;
  max-width: 9em;
  color: #8F8F8F;
  font-weight: normal;
}

dl#metadata dd{
  margin-left: 10em;
}

dl#tags dd,
dl#segments dd{
  float: left;
  border: 1px solid #d8d8d8;
  margin: 2px;
  padding: 0 6px 0 19px;
  height: 18px;
  font-size: 10px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 5px 4px;
  max-width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

dl#tags dd{
  background-image: app-asset-url('tag.png');
}

dl#segments dd{
  background-image: app-asset-url('segment.png');
}

.btn{
  margin: 0 0 10px 0;
}
